[package]
name = "tendermint-basecoin"
version = "0.1.0"
edition = "2018"
license = "Apache-2.0"
readme = "README.md"
categories = ["cryptography::cryptocurrencies"]
repository = "https://github.com/informalsystems/basecoin-rs"
authors = ["Informal Systems <hello@informal.systems>"]
description = """
    An example Tendermint ABCI application that integrates with ibc-rs, making
    use of tendermint-rs.
"""

[dependencies]
bytes = "1.0.1"
cosmos_sdk = "0.1.1"
flex-error = { version = "0.4.2", features = [ "eyre_tracer" ] }
ibc = "=0.7.3"
ibc-proto = "=0.11.0"
ics23 = "0.6.0"
prost = "0.7.0"
prost-types = "0.7.0"
serde = "1.0"
serde_json = "1.0"
sha2 = "0.9.2"
structopt = "0.3.21"
tendermint = "=0.22.0"
tendermint-abci = "=0.22.0"
tendermint-proto = "=0.22.0"
tracing = "0.1.26"
tracing-subscriber = "0.2.18"
tonic="0.4"
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }

[patch.crates-io]
ibc = { git = "https://github.com/informalsystems/ibc-rs.git", rev = "e578787" }
ibc-proto = { git = "https://github.com/informalsystems/ibc-rs.git", rev = "e578787" }
